/* COLORS */
/* SKY-BLUE: #63A8FF
STEEL-BLUE: #5ABEE8
AQUA: #6FFBFF
SEA-FOAM: #5AE8C5
MINT-GREEN: #63FFAD */

.sky {
    background: #63A8FF;
}

.sea {
    background: #5AE8C5;
}

.aqua {
    background: #6FFBFF
}

.steely {
    background: #5ABEE8
}